.titre{
  font-size: 180%;
  color: blue;
  text-align: center;
}
.ecriture{
  font-size: 120%;
  text-align: center;
  color: white;
}
.presentation{
  font-size: 150%;
  text-indent: 10px;
  color: aqua;
}



