
<h1 class="presentation">Liste des Tests : </h1>
<nav class="menu">
    <ul>
        <li  class="boutton" >
            <a *ngIf="_isFiltering == true" (click)="resetFilter()">Annuler les filtres</a>
        </li>
        <li  class="boutton" >
            <a *ngIf="_isFiltering == false" (click)="_isFiltering = true">Filtrer</a>
        </li>
        <li  class="boutton" >
            <a *ngIf="isAddSerie == false" (click)="isAddSerie=true">Creer une serie</a>
        </li>
        <li  class="boutton" >
            <a *ngIf="isAddSerie == true" (click)="isAddSerie=false">Annuler la serie</a>
        </li>
        <li  class="boutton" >
            <a *ngIf="isAddSerie == true" (click)="changeDesigne(_designModal)">Valider</a>
        </li>
    </ul>
</nav>



<table class="tableau">
    <tr>
        <td class="titre colonne" (click)="orderBy('nom')">
            Nom
            <div *ngIf="_isFiltering == true"><input class="contient" type="text" #titreFilter placeholder="Contient..."/>
            <button (click)="filterBy('nom', titreFilter.value)"><span>&#10003;</span></button></div>
        </td>
        <td class="titre colonne" (click)="orderBy('joueur_nb')">
            Nombre de zone
            <div *ngIf="_isFiltering == true"><input class="contient" type="text" #titreFilter placeholder="Contient..."/>
                <button (click)="filterBy('joueur_nb', titreFilter.value)"><span>&#10003;</span></button></div>
        </td>
        <td class="titre colonne" (click)="orderBy('nom')">
            Nombre de couloir
            <div *ngIf="_isFiltering == true"><input class="contient" type="text" #titreFilter placeholder="Contient..."/>
                <button (click)="filterBy('nom', titreFilter.value)"><span>&#10003;</span></button></div>
        </td>
        <td class="titre colonne2">
            //
        </td>
    </tr>
    <tr *ngFor="let scenario of _scenarioList" (play)="orderBy('nom')" >
        <td class="colonne ecriture">
            {{scenario.nom}}
        </td>
        <td class="colonne ecriture">
            {{scenario.zone_nb_zone}}
        </td>
        <td class="colonne ecriture">
            {{scenario.zone_nb_couloir}}
        </td>
        <td class="colonne2 ecriture">
            <button (click)="selectScenario(_selectScenarioModalName,scenario)">details</button>
            <button (click)="delScenario(scenario)">Supprimer</button>
            <input *ngIf="isAddSerie"  class="checkbox-custom" type="checkbox" (change)="toggleSelection(scenario)">
        </td>
    </tr>
</table>


<jw-modal id="{{_selectScenarioModalName}}" >
    <h1 class="titre">{{_selectedScenario.nom}}</h1>
    <nav class="menu">
        <ul>
            <li  class="boutton" >
                <a (click)="resetFeedBack(_selectScenarioModalName)">Annuler</a>
            </li>
            <li  class="boutton" >
                <a (click)="playVisualisation(_selectedScenario)">Play</a>
            </li>
        </ul>
    </nav><br>
<table class="tableau_joueur">
        <tr>
            <td class="colonne_terrain2">
                <div  style="background-image: url('./assets/terrain.png'); background-size: 100% 100%; background-repeat: no-repeat;">
                <table id="tableau_terrain" class="tableau_terrain tabter" >
                    <tr  *ngFor="let couloir of nb_couloir(_selectedScenario.zone_nb_couloir); let odd = odd" class="couloir">
                        <td  *ngFor="let zone of nb_couloir(_selectedScenario.zone_nb_zone)" class="zone"
                             [style.background-color]="_selectedScenario.terrain_couleur === 'blanc' ? 'white' : 'initial'">
                            <div  *ngFor="let entite of _entiteList" class="draggable"
                                  [style.left.%]="((entite.x*(100/68))+this.tabLeft)" [style.top.%]="((entite.y*(100/70))+this.tabTop)">
                                <div class="draggable joueur numEcriture" *ngIf="entite.type==1">
                                    {{ entite.numero }}
                                </div>
                                <div class="draggable ballon numEcriture" *ngIf="entite.type==0">
                                    {{ entite.numero }}
                                </div>
                                <!-- Ajouter des éléments pour représenter les flèches -->
                                <div *ngFor="let arrow of arrows">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table></div>
            </td>
        </tr>
        <tr>
            <div class="container">
                <div class="categorie">Mode Scene : </div><div class="Ecriture">{{_selectedScenario.mode_scene}}&nbsp;&nbsp;&nbsp;</div>
                <div class="categorie">Couleur terrain : </div><div class="Ecriture">{{_selectedScenario.terrain_couleur}}&nbsp;&nbsp;&nbsp;</div>
                <div class="categorie">Taille terrain : </div><div class="Ecriture">{{_selectedScenario.terrain_taille}}&nbsp;&nbsp;&nbsp;</div>
                <div class="categorie">Nombre de zone : </div><div class="Ecriture">{{_selectedScenario.zone_nb_zone}}&nbsp;&nbsp;&nbsp;</div>
                <div class="categorie">Nombre de couloir : </div><div class="Ecriture">{{_selectedScenario.zone_nb_couloir}}</div>
            </div>
        </tr>
    </table>

</jw-modal>

<jw-modal id="{{_designModal}}" >
    <nav class="menu">
        <ul>
            <li  class="boutton" >
                <a (click)="resetFeedBack(_designModal)">Annuler</a>
            </li>
            <li  class="boutton" >
                <a (click)="addDesign(_feedBackModal)">Valider</a>
            </li>
            <li  class="boutton" >
                <a  >Repliquer</a>
            </li>
        </ul>
    </nav><br>

    <h1 class="presentation">Serie : </h1>
    <div class="titre">
        Nom de la series:
        <input type="text" [(ngModel)]="_newExam.nom"/><br>
    </div>

    <div class="titre">
        Mode de la series:
        <input type="checkbox" id="sequentiel" class="hidden-checkbox" (click)="updateModeSequentiel('sequentiel')">
        <label for="sequentiel" class="round-button" [style.background-color]="_newExam.mode === 'sequentiel' ? '#3498db' : 'initial'">Sequentiel</label>

        <input type="checkbox" id="aleatoire" class="hidden-checkbox" (click)="updateModeSequentiel('aleatoire')">
        <label for="aleatoire" class="round-button" [style.background-color]="_newExam.mode  === 'aleatoire' ? '#3498db' : 'initial'">Aleatoire</label>
    </div><br>

    <h1 class="presentation">Design : </h1><br>

    <table class="tableau">
        <tr>
            <td class="titre colonne">
                Nom du test
            </td>
            <td class="titre colonne">
                Mode de scene
            </td>
            <td class="titre colonne">
                Couleur terrain
            </td>
            <td class="titre colonne">
                Nombre de zone
            </td>
            <td class="titre colonne">
                Nombre de couloir
            </td>
        </tr>
        <tr  *ngFor="let scenario of _scenarioSelect" >
            <td class="colonne ecriture">
                {{scenario.nom}}
            </td>
            <td class="colonne ">
                <div class="titre">
                    <input type="checkbox" id="scene_{{scenario.nom}}" class="hidden-checkbox" (click)="updateModeScenario('scene',scenario)">
                    <label for="scene_{{scenario.nom}}" class="round-button"   [style.background-color]="scenario.mode_scene === 'scene' ? '#3498db' : 'initial'">Scene</label>

                    <input type="checkbox" id="action_{{scenario.nom}}" class="hidden-checkbox" (click)="updateModeScenario('action',scenario)">
                    <label for="action_{{scenario.nom}}" class="round-button"  [style.background-color]="scenario.mode_scene === 'action' ? '#3498db' : 'initial'">Action</label>
                </div>
            </td>
            <td class="colonne ">
                <div class="titre">
                    <input type="checkbox" id="couleurV_{{scenario.nom}}" class="hidden-checkbox" (click)="updateCouleur('vert',scenario)">
                    <label for="couleurV_{{scenario.nom}}" class="round-button" [style.background-color]="scenario.terrain_couleur === 'vert' ? '#3498db' : 'initial'">Vert</label>

                    <input type="checkbox" id="couleurB_{{scenario.nom}}" class="hidden-checkbox" (click)="updateCouleur('blanc',scenario)">
                    <label for="couleurB_{{scenario.nom}}" class="round-button" [style.background-color]="scenario.terrain_couleur === 'blanc' ? '#3498db' : 'initial'">Blanc</label>
                </div>
            </td>
            <td class="colonne titre">
                <input type="text" [(ngModel)]="scenario.zone_nb_zone"/><br>
            </td>
            <td class="colonne titre">
                <input type="text" [(ngModel)]="scenario.zone_nb_couloir"/><br>
            </td>
        </tr>
    </table>
</jw-modal>

<jw-modal id="{{_feedBackModal}}" >
    <nav class="menu">
        <ul>
            <li  class="boutton" >
                <a (click)="resetFeedBack(_feedBackModal)">Annuler</a>
            </li>
            <li  class="boutton" >
                <a (click)="addFeedBack(_feedBackModal)">Valider</a>
            </li>
            <li  class="boutton" >
                <a  >Repliquer</a>
            </li>
        </ul>
    </nav><br>

    <h1 class="presentation">FeedBack : </h1>
    <table class="tableau">
        <tr>
            <td class="titre colonne">
                Test
            </td>
            <td class="titre colonne">
                Type feedBack
            </td>
            <td class="titre colonne">
                Frequence feedBack
            </td>
            <td class="titre colonne">
                Visualisation feedBack
            </td>
        </tr>
        <tr *ngFor="let exeprience of _newExeperience" >
            <td class="colonne ecriture">
                {{exeprience.scenario}}
            </td>
            <td class="colonne ">
                <div class="titre">
                    <input type="checkbox" id="typesf_{{exeprience.scenario}}" class="hidden-checkbox" (click)="updateTypeFeed('score',exeprience)">
                    <label for="typesf_{{exeprience.scenario}}" class="round-button"   [style.background-color]="exeprience.typeFeedback === 'score' ? '#3498db' : 'initial'">Score</label>

                    <input type="checkbox" id="static_{{exeprience.scenario}}" class="hidden-checkbox" (click)="updateTypeFeed('static',exeprience)">
                    <label for="static_{{exeprience.scenario}}" class="round-button"   [style.background-color]="exeprience.typeFeedback === 'static' ? '#3498db' : 'initial'">Static</label>
                </div>
            </td>
            <td class="colonne ">
                <div class="titre">
                    <input type="checkbox" id="0_{{exeprience.scenario}}" class="hidden-checkbox" (click)="updateFrequenceFeed(0,exeprience)">
                    <label for="0_{{exeprience.scenario}}" class="round-button" [style.background-color]="exeprience.freqFeedback === 0 ? '#3498db' : 'initial'">0%</label>

                    <input type="checkbox" id="25_{{exeprience.scenario}}" class="hidden-checkbox" (click)="updateFrequenceFeed(25,exeprience)">
                    <label for="25_{{exeprience.scenario}}" class="round-button" [style.background-color]="exeprience.freqFeedback === 25 ? '#3498db' : 'initial'">25%</label>

                    <input type="checkbox" id="50_{{exeprience.scenario}}" class="hidden-checkbox" (click)="updateFrequenceFeed(50,exeprience)">
                    <label for="50_{{exeprience.scenario}}" class="round-button" [style.background-color]="exeprience.freqFeedback === 50 ? '#3498db' : 'initial'">50%</label>

                    <input type="checkbox" id="75_{{exeprience.scenario}}" class="hidden-checkbox" (click)="updateFrequenceFeed(75,exeprience)">
                    <label for="75_{{exeprience.scenario}}" class="round-button" [style.background-color]="exeprience.freqFeedback === 75 ? '#3498db' : 'initial'">75%</label>

                    <input type="checkbox" id="100_{{exeprience.scenario}}" class="hidden-checkbox" (click)="updateFrequenceFeed(100,exeprience)">
                    <label for="100_{{exeprience.scenario}}" class="round-button" [style.background-color]="exeprience.freqFeedback === 100 ? '#3498db' : 'initial'">100%</label>
                </div>
            </td>
            <td class="colonne titre">
                <input type="text" [(ngModel)]="exeprience.visuFeedback"/><br>
            </td>
        </tr>
    </table>

</jw-modal>