<h1 class="presentation">Liste des Series : </h1>
<nav class="menu">
    <ul>
        <li  class="boutton" >
            <a *ngIf="_isFiltering == true" (click)="resetFilter()">Annuler les filtres</a>
        </li>
        <li  class="boutton" >
            <a *ngIf="_isFiltering == false" (click)="_isFiltering = true">Filtrer</a>
        </li>
    </ul>
</nav>



<table class="tableau">
    <tr>
        <td class="titre colonne" (click)="orderBy('nom')">
            Nom series
            <div *ngIf="_isFiltering == true"><input class="contient" type="text" #titreFilter placeholder="Contient..."/>
                <button (click)="filterBy('nom', titreFilter.value)"><span>&#10003;</span></button></div>
        </td>
        <td class="titre colonne">
            Type feedBack
        </td>
        <td class="titre colonne">
            Frequence feedBack
        </td>
        <td class="titre colonne">
            Contenu de feedBack
        </td>
        <td class="titre colonne">
            Complexité de la serie
        </td>
        <td class="titre colonne">
            Mode de la serie
        </td>
        <td class="titre colonne">
            //
        </td>
    </tr>
</table>
<table class="tableau">
    <tr class="tableau" *ngFor="let serie of _serieList" (play)="orderBy('nom')" >
        <td class="ecriture colonne">
            {{serie.nom}}
        </td>
        <td class="colonne">
            <div *ngFor="let exp of serie.experience">
                <div class="ecriture" >
                    {{exp.typeFeedback}}
                </div>
            </div>
        </td>
        <td class="colonne">
            <div *ngFor="let exp of serie.experience">
                <div class="ecriture" >
                    {{exp.freqFeedback}}
                </div>
            </div>
        </td>
        <td class="ecriture colonne">
            {{serie.contenuFeedback}}
        </td>
        <td class="ecriture colonne">
            {{serie.mode}}
        </td>
        <td class="ecriture colonne">
            {{serie.complexite}}
        </td>
        <td class=" colonne ecriture">
            <button (click)="openSimu(_simulationModal,serie)">Lancer serie</button>
        </td>
    </tr>
</table>

<!--modal entrer des info perso-->
<jw-modal id="{{_simulationModal}}" >
    <h1 class="presentation">Information personnel</h1>

    <div class="titre">
        Groupe Test:
        <input type="text" [(ngModel)]="_newUtilisateur.groupe"/>
    </div><br>

    <div class="titre">
        Nom :
        <input type="text" [(ngModel)]="_newUtilisateur.nom"/>
    </div><br>

    <div class="titre">
        Prenom :
        <input type="text" [(ngModel)]="_newUtilisateur.prenom"/>
    </div><br>

    <div class="titre">
        Age :
        <input type="text" [(ngModel)]="_newUtilisateur.age"/>
    </div><br>

    <div class="titre">
        Genre :
        <input type="checkbox" id="fille" class="hidden-checkbox" (click)="updateSex('fille')">
        <label for="fille" class="round-button" [style.background-color]="_newUtilisateur.sex === 'fille' ? '#3498db' : 'initial'">Fille</label>

        <input type="checkbox" id="garcon" class="hidden-checkbox" (click)="updateSex('garcon')">
        <label for="garcon" class="round-button" [style.background-color]="_newUtilisateur.sex === 'garcon' ? '#3498db' : 'initial'">Garcon</label>
    </div><br>

    <div class="titre">
        Pratique sportive :
        <input type="text" [(ngModel)]="_newUtilisateur.pratique"/>
    </div><br>

    <div class="titre">
        Etes-vous profesionelle :
        <input type="checkbox" id="ouiPro" class="hidden-checkbox" (click)="updateFormUser('pro' , true)">
        <label for="ouiPro" class="round-button" [style.background-color]="_newUtilisateur.pro === true ? '#3498db' : 'initial'">oui</label>

        <input type="checkbox" id="nonPro" class="hidden-checkbox" (click)="updateFormUser('pro' , false)">
        <label for="nonPro" class="round-button" [style.background-color]="_newUtilisateur.pro === false ? '#3498db' : 'initial'">non</label>
    </div><br>

    <div *ngIf="_newUtilisateur.pro===true" class="titre">
        Nombre d'année d'experience :
        <input type="text" [(ngModel)]="_newUtilisateur.anneeExperience"/>
    </div><br>

    <div *ngIf="_newUtilisateur.pro===true" class="titre">
        Nombre matches/an :
        <input type="text" [(ngModel)]="_newUtilisateur.matche"/>
    </div><br>

    <div *ngIf="_newUtilisateur.pro===true" class="titre">
        Nombre entrainements/mois :
        <input type="text" [(ngModel)]="_newUtilisateur.entrainement"/>
    </div><br>

    <div *ngIf="_newUtilisateur.pro===true" class="titre">
        Nombre d'heure pratique/semaine :
        <input type="text" [(ngModel)]="_newUtilisateur.heure"/>
    </div><br>

    <div class="titre">
        Nombre de visionnage de match à la télévision (par semaine) :
        <input type="text" [(ngModel)]="_newUtilisateur.vueTv"/>
    </div><br>

    <div class="titre">
        Nombre de match regardé (par semaine) :
        <input type="text" [(ngModel)]="_newUtilisateur.vueMatch"/>
    </div><br>

    <div class="titre">
        Vision corrigé :
        <input type="checkbox" id="ouiVision" class="hidden-checkbox" (click)="updateFormUser('vision' ,true)">
        <label for="ouiVision" class="round-button" [style.background-color]="_newUtilisateur.vision === true ? '#3498db' : 'initial'">Oui</label>

        <input type="checkbox" id="nonVision" class="hidden-checkbox" (click)="updateFormUser('vision' , false)">
        <label for="nonVision" class="round-button" [style.background-color]="_newUtilisateur.vision === false ? '#3498db' : 'initial'">Non</label>
    </div><br>

    <div class="titre">
        Avez-vous déjà joué à un jeu-vidéo lié au football :
        <input type="checkbox" id="ouiJv" class="hidden-checkbox" (click)="updateFormUser('jv' , true)">
        <label for="ouiJv" class="round-button" [style.background-color]="_newUtilisateur.jv === true ? '#3498db' : 'initial'">Oui</label>

        <input type="checkbox" id="nonJv" class="hidden-checkbox" (click)="updateFormUser('jv' , false)">
        <label for="nonJv" class="round-button" [style.background-color]="_newUtilisateur.jv === false ? '#3498db' : 'initial'">Non</label>
    </div><br>



    <nav class="menu">
        <ul>
            <li  class="boutton" >
                <a (click)="resetData(_simulationModal)">Annuler</a>
            </li>
            <li  class="boutton" >
                <a (click)="addUser(_veridModal)">Valider</a>
            </li>
        </ul>
    </nav><br>
</jw-modal>


<jw-modal id="{{_veridModal}}" >

    <table class="tableau_joueur">
        <tr>
            <td class="colonne_terrain2">
                <div class="table-container ">
                    <div style="background-image: url('./assets/terrainFinal.png'); background-size: 100% 100%; background-repeat: no-repeat;">
                        <table id="tableau_terrain" class="tableau_terrain tabter">
                            <!-- Boucle pour les couloirs -->
                            <tr *ngFor="let couloir of nb_couloir(_selectedScenario.zone_nb_couloir); let odd = odd" class="couloir">
                                <!-- Boucle pour les zones -->
                                <td *ngFor="let zone of nb_couloir(_selectedScenario.zone_nb_zone)" class="zone" [style.background-color]="_selectedScenario.terrain_couleur === 'blanc' ? 'white' : 'initial'">
                                    <div *ngFor="let entite of _entiteList" class="draggable" [style.left.%]="((entite.x*(100/65)))" [style.top.%]="((entite.y*(100/65)))">
                                        <div class="draggable joueur numEcriture" *ngIf="entite.type==1">
                                            {{ entite.numero }}
                                        </div>
                                        <div class="draggable ballon numEcriture" *ngIf="entite.type==0" style="background-image: url('./assets/ballon.png'); background-size: 100% 100%; background-repeat: no-repeat;">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- Conteneur des flèches -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" class="arrow-container">
                            <defs>
                                <marker id="arrow" markerWidth="10" markerHeight="10" refX="8" refY="3" orient="auto" markerUnits="strokeWidth">
                                    <path d="M0,0 L0,6 L9,3 z" fill="#f00" />
                                </marker>
                            </defs>
                            <line *ngFor="let arrow of arrows" [attr.x1]="arrow.startX" [attr.y1]="arrow.startY"
                                  [attr.x2]="arrow.endX" [attr.y2]="arrow.endY" stroke="#f00" stroke-width="2" marker-end="url(#arrow)" class="arrow-line"
                                  [attr.stroke-dasharray]="arrow.strokeDasharray===true ? '5,5' : ''"  [attr.stroke]="arrow.strokeColor"/>
                        </svg>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <nav class="menu">
        <ul>
            <li class="boutton" style="width:auto"><a *ngIf="_isLancer===false" (click)="lance_simu()">Cliquer pour Lancer</a></li>
            <li><div *ngIf="_isLancer" class="ecriture" style="display: inline-block;width:auto">essaie:{{_nbEssai}}//</div></li>
            <li><div *ngIf="_isLancer" class="ecriture" style="display: inline-block;width:auto">Visualisation : {{_nbVisualisation-1}}// action : {{_nbAction-1}}</div></li>
            <li class="boutton" style="display: inline-block;width:auto"><a *ngIf="_isLancer && finSimu" (click)="toTest()">Fin visualisation</a></li>
        </ul>
    </nav>
</jw-modal>

<jw-modal id="{{_PostDeplacementModal}}" >
    <div  class="ecriture">Deplacement : {{numAction}}</div>
    <table class="tableau_joueur">
        <tr>
            <td class="colonne_terrain2">
                <div class="table-container ">
                    <div style="background-image: url('./assets/terrainFinal.png'); background-size: 100% 100%; background-repeat: no-repeat;">
                        <table id="tableau_terrain2" class="tableau_terrain tabter" (click)="addDeplacement($event)">
                            <tr  *ngFor="let couloir of nb_couloir(_selectedScenario.zone_nb_couloir); let odd = odd" class="couloir">
                                <td  *ngFor="let zone of nb_couloir(_selectedScenario.zone_nb_zone)" class="zone"
                                     [style.background-color]="_selectedScenario.terrain_couleur === 'blanc' ? 'white' : 'initial'">
                                    <div  *ngFor="let entite of _entiteList" class="draggable"
                                          [style.left.%]="((entite.x*(100/65)))" [style.top.%]="((entite.y*(100/57)))"
                                          (click)="selectEntite(entite)">
                                        <div class="draggable joueur numEcriture" *ngIf="entite.type==1">
                                            <div [style.background-color]="isEntiteSelect(entite) ? 'red' : ''">
                                                {{ entite.numero }}
                                            </div>
                                        </div>
                                        <div class="draggable ballon numEcriture" *ngIf="entite.type==0"
                                             style="background-image: url('./assets/ballon.png'); background-size: 100% 100%; background-repeat: no-repeat;">
                                            <div [style.background-color]="isEntiteSelect(entite) ? 'red' : ''"
                                                 [style.background-image]="isEntiteSelect(entite) ? '' : 'none'">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</jw-modal>

<jw-modal id="{{_feedBackScoreModal}}" >
    <h1 class="presentation">FeedBack Score</h1>
    <div *ngIf="_resultat.reussi" class="presentation">FÉLICITATIONS, SCÉNARIO RÉUSSI !</div>
    <div *ngIf="_resultat.reussi===false" class="presentation">DOMMAGE, SCÉNARIO RATÉ !</div>
    <div class="categorie">Resultat : {{_resultat.reussi}}</div>
    <div class="categorie">Score : {{_resultat.score}}/{{_resultat.listError.length}}</div>
    <nav class="menu">
        <ul>
            <li class="boutton" *ngIf="this._resultat.reussi===false" style="width: 40%"><a (click)="resetData(_feedBackScoreModal)">Abandoner</a></li>
            <li class="boutton" *ngIf="this._resultat.reussi===false" style="width: 40%"><a (click)="relance()">Recommencer</a></li>
            <li class="boutton" *ngIf="this._resultat.reussi===true" style="width: 40%"><a (click)="relance()">Suivant</a></li>
        </ul>
    </nav>
</jw-modal>
<jw-modal id="{{_feedBackStaticModal}}" >
    <h1  class="presentation">
        <a>FeedBack Static</a>
    </h1>

    <div *ngIf="_resultat.reussi" class="presentation">FÉLICITATIONS, SCÉNARIO RÉUSSI !</div>
    <div *ngIf="_resultat.reussi===false" class="presentation">DOMMAGE, SCÉNARIO RATÉ !</div>
    <nav class="menu">
        <ul>
            <li  class="boutton">
                <a (click)="lanceStatic()">Lancer feedBack</a>
            </li>
        </ul>
    </nav><br>


    <div class="categorie">Resultat : {{_resultat.reussi}}</div>
    <div class="categorie">  Score : {{_resultat.score}}/{{_resultat.listError.length}}</div>

    <nav class="menu">
        <ul>
            <li class="boutton" *ngIf="this._resultat.reussi===false" style="width: 40%"><a (click)="resetData(_feedBackStaticModal)">Abandoner</a></li>
            <li class="boutton" *ngIf="this._resultat.reussi===false && _feedisStart" style="width: 40%"><a (click)="relance()">Recommencer</a></li>
            <li class="boutton" *ngIf="this._resultat.reussi===true" style="width: 40%"><a (click)="relance()">Suivant</a></li>
        </ul>
    </nav>
</jw-modal>

<jw-modal id="{{_StaticModal}}" >
    <table class="tableau_joueur2">
        <tr>
            <td class="colonne_terrain2">
                <div class="table-container ">
                    <div style="background-image: url('./assets/terrainFinal.png'); background-size: 100% 100%; background-repeat: no-repeat;">
                        <table id="tableau_terrain3" class="tableau_terrain tabter" >
                            <tr  *ngFor="let couloir of nb_couloir(_selectedScenario.zone_nb_couloir); let odd = odd" class="couloir">
                                <td  *ngFor="let zone of nb_couloir(_selectedScenario.zone_nb_zone)" class="zone"
                                     [style.background-color]="_selectedScenario.terrain_couleur === 'blanc' ? 'white' : 'initial'">
                                    <div  *ngFor="let entite of _entiteList" class="draggable"
                                          [style.left.%]="((entite.x*(100/65)))" [style.top.%]="((entite.y*(100/58)))">
                                        <div class="draggable joueur numEcriture" *ngIf="entite.type==1">
                                            {{ entite.numero }}
                                        </div>
                                        <div class="draggable ballon numEcriture" *ngIf="entite.type==0"
                                             style="background-image: url('./assets/ballon.png'); background-size: 100% 100%; background-repeat: no-repeat;">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" class="arrow-container">
                            <defs>
                                <marker id="arrow" markerWidth="10" markerHeight="10" refX="8" refY="3" orient="auto" markerUnits="strokeWidth">
                                    <path d="M0,0 L0,6 L9,3 z" fill="#f00" />
                                </marker>
                            </defs>
                            <line *ngFor="let arrow of arrows" [attr.x1]="arrow.startX" [attr.y1]="arrow.startY"
                                  [attr.x2]="arrow.endX" [attr.y2]="arrow.endY" stroke="#f00" stroke-width="2" marker-end="url(#arrow)" class="arrow-line"
                                  [attr.stroke-dasharray]="arrow.strokeDasharray===true ? '5,5' : ''"  [attr.stroke]="arrow.strokeColor"/>
                        </svg>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <nav class="menu">
        <ul>
            <li class="boutton" ><a (click)="quitteFeedStatic()">Quitter</a></li>
        </ul>
    </nav>
</jw-modal>