.presentation{
    font-size: 200%;
    color: white;
    text-align: center;
}

.verif{
    font-size: 150%;
    color: red;
    text-align: center;
}
.titre{
    font-size: 130%;
    color: mediumblue;
    text-align: center;
}
.round-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    color: white;
    transition: background-color 0.3s;
}
.round-button:hover {
    background-color: #3498db;
    color: #fff;
}

.hidden-checkbox {
    display: none;
}
nav.menu ul  .boutton{
    display: inline-block;
    width: 80%;
}
nav.menu ul li.boutton a{
    color :Azure;
    background-color: green;
    text-decoration: none;
    text-align:center ;
    display: flex;
    font-size:30px;
    justify-content: center;
    border: 2px solid white;

}
nav.menu ul li.boutton:hover a{
    color: lightgreen;
    background-color: Azure;
    transition: 0.5s all;
}
.tableau{
    padding: 5px;
    width:100%;
}
.colonne{
    width:35%;
}
.colonne2{
    width:65%;
}
/*front*/
.draggable {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffeb3b; /* Jaune */
    border-radius: 50%;
    cursor: grab;
}
.couloir{
    background: green;
    border: 1px solid black;
    border-collapse: collapse;
    height: 70px;
}
.zone{
    background: green;
    border: 1px solid black;
    border-collapse: collapse;
    height: 70px;
}
.tableau_terrain{
    padding: 5px;
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
}

