.presentation{
    font-size:180%;
    color: white;
    text-align: center;
}

.verif{
    font-size: 150%;
    color: red;
    text-align: center;
}
.titre{
    font-size: 120%;
    color: mediumblue;
    text-align: center;
}
.round-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    color: white;
    transition: background-color 0.3s;
}
.round-button:hover {
    background-color: #3498db;
    color: #fff;
}

.hidden-checkbox {
    display: none;
}
nav.menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav.menu ul  .boutton{
    display: inline-block;
    width: 80%;
}

nav.menu ul li.boutton a{
    color :Azure;
    background-color: green;
    text-decoration: none;
    text-align:center ;
    display: block;
    font-size:30px;
    justify-content: center;
    border: 2px solid white;

}
nav.menu ul li.boutton:hover a{
    color: lightgreen;
    background-color: Azure;
    transition: 0.5s all;
}
.tableau{
    padding: 5px;
    width:100%;
}
.colonne{
    width:35%;
    text-align: center;
}
.colonne3{
    width:35%;
    margin-left: 5px;
}
.colonne2{
    width:65%;
    vertical-align: top;
}
/*terrain*/
.barreOutils{
    text-align:center ;
    align-content: center;
    width:16.5%;
}
.Ecriture{
    font-size: 120%;
    color: white;
    text-align: center;
}

.numEcriture{
    font-size: 120%;
    color: black;
    text-align: center;
}

.draggable {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: grab;
    overflow: hidden;
    margin: auto;
    align-items: center;
}
.joueur{
    background-color: #2196F3;
}
.gardien{
    background-color: #ffeb3b;
}
.ballon {
    width: 15px;
    height: 15px;
}
.couloir{
    background: transparent;
    border: 1px dashed  black;
    border-collapse: collapse;
    borderStyle: dashed;
}
.zone{
    background: transparent;
    border: 1px dashed  black;
    border-collapse: collapse;
}
.tableau_terrain{
    padding: 5%;
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
}
.tabter{
    border: 1px solid white;
    height: 60vh;
}
.mode{
    font-size: 110%;
    color: white;
    text-align: center;
}

