<table class="tableau" >
    <tr>
        <td *ngIf="is_placement===false && is_deplacement===false" class=" colonne" > <!-- parametre  -->
            <h1 class="presentation">Ajout d'un Scenario</h1>
            <div class="titre">
                nom:
                <input type="text" [(ngModel)]="_newScenario.nom"/>
            </div><br>
            <div class="titre">
                mode_scene:
                <input type="checkbox" id="scene" class="hidden-checkbox" (click)="updateModeScenario('scene')">
                <label for="scene" class="round-button"   [style.background-color]="_newScenario.mode_scene === 'scene' ? '#3498db' : 'initial'">Scene</label>

                <input type="checkbox" id="action" class="hidden-checkbox" (click)="updateModeScenario('action')">
                <label for="action" class="round-button"  [style.background-color]="_newScenario.mode_scene === 'action' ? '#3498db' : 'initial'">Action</label>
            </div><br>

            <div class="titre">
                couleur du terrain:
                <input type="checkbox" id="couleurV" class="hidden-checkbox" (click)="updateCouleur('vert')">
                <label for="couleurV" class="round-button" [style.background-color]="_newScenario.terrain_couleur === 'vert' ? '#3498db' : 'initial'">Vert</label>

                <input type="checkbox" id="couleurB" class="hidden-checkbox" (click)="updateCouleur('blanc')">
                <label for="couleurB" class="round-button" [style.background-color]="_newScenario.terrain_couleur === 'blanc' ? '#3498db' : 'initial'">Blanc</label>
            </div><br>

<!--            <div class="titre">-->
<!--                taille du terrain:-->
<!--                <input type="checkbox" id="moyen" class="hidden-checkbox" (click)="updateterrainScenario('moyen')">-->
<!--                <label for="moyen" class="round-button" [style.background-color]="_newScenario.terrain_taille === 'moyen' ? '#3498db' : 'initial'">Moyen</label>-->

<!--                <input type="checkbox" id="grand" class="hidden-checkbox" (click)="updateterrainScenario('grand')">-->
<!--                <label for="grand" class="round-button" [style.background-color]="_newScenario.terrain_taille === 'grand' ? '#3498db' : 'initial'">Grand</label>-->
<!--            </div><br>-->
            <!--
            <div class="titre">
                <input type="checkbox" id="_useT" class="hidden-checkbox" (click)="updateUseZone('true')">
                <label for="_useT" class="round-button" [style.background-color]="_newScenario.zone_use === true ? '#3498db' : 'initial'">utiliser les zone</label>
            </div><br>

            <div class="titre">
                <input type="checkbox" id="AZone" class="hidden-checkbox" (click)="updateAfficheZone('true')">
                <label for="AZone" class="round-button" [style.background-color]="_newScenario.zone_display === true ? '#3498db' : 'initial'">Afficher les zones du terrain</label>
            </div><br>-->
<!--            <div class="titre">-->
<!--                Nombre de joueur:-->
<!--                <input type="text" [(ngModel)]="_newScenario.joueur_nb"/><br>-->
<!--            </div><br>-->

            <div class="titre">
                Nombre de zone:
                <input type="text" [(ngModel)]="_newScenario.zone_nb_zone"/><br>
            </div><br>
            <div class="titre">
                Nombre de couloir:
                <input type="text" [(ngModel)]="_newScenario.zone_nb_couloir"/><br>
            </div><br>


            <nav class="menu">
                <ul>
                    <li class="boutton" ><a (click)="openModal(_addScenarioModalName)">valider</a></li>
                </ul>
            </nav>
        </td>
        <td *ngIf="is_placement && is_deplacement===false" class=" colonne" > <!-- ajout entite -->
            <div  class="presentation">Ajout des entités</div><br><br>
            <div  class="Ecriture"><button (click)="delEntite()" class="boutton">retour placement</button></div><br>
            <div  class="Ecriture"><button  (click)="passEntite()" class="boutton">fin placement</button></div><br><br>
            <div class="presentation" style="display: inline-block">joueur :   </div>
            <div id="deplacableObject" class="draggable joueur" style="display: inline-block"></div><br><br>
            <div class="presentation"style="display: inline-block" >ballon :   </div>
            <div id="ballondeplacableObject" class="draggable ballon"style="display: inline-block;background-image: url('./assets/ballon.png'); background-size: 100% 100%; background-repeat: no-repeat;" ></div><br><br>


            <nav class="menu">
                <ul>
                    <li class="boutton" ><a *ngIf="is_placement" (click)="addJoueur()">ajouter joueur</a></li>
                </ul>
            </nav><br>
            <nav class="menu">
                <ul>
                    <li class="boutton" ><a *ngIf="is_placement" (click)="addJoueugardien()">ajouter Gardien</a></li>
                </ul>
            </nav>
                <br>
            <nav class="menu">
                <ul>
                    <li class="boutton" ><a *ngIf="is_placement" (click)="addBallon()">ajouter ballon</a></li>
                </ul>
            </nav>
        </td>
        <td *ngIf="is_placement===false && is_deplacement" class=" colonne" > <!-- ajout deplacement -->
            <div class="presentation">Ajout deplacement </div><br><br>
            <div class="presentation">   Action={{ numAction }}</div><br><br>
            <div class="Ecriture"><button (click)="delDeplacement()" class="boutton">retour deplacement</button></div><br><br>
            <div  class="Ecriture"><button  (click)="passDeplacement()" class="boutton">fin deplacement</button></div><br><br>
        </td>

        <td class="colonne2" ><!-- terrain -->

            <div style="background-image: url('./assets/terrainFinal.png'); background-size: 100% 100%; background-repeat: no-repeat;">
            <table id="tableau_terrain" class="tableau_terrain tabter" (click)="addDeplacement($event)">
                <tr  *ngFor="let couloir of nb_couloir(lastCouloir); let odd = odd" class="couloir">
                    <td  *ngFor="let zone of nb_couloir(lastZone)" class="zone"
                         [style.background-color]="lastCouleur === 'blanc' ? 'white' : 'initial'">
                        <div  *ngFor="let entite of _entiteList" class="draggable"
                             [style.left.%]="entite.x+this.tabLeft" [style.top.%]="entite.y+tabTop"
                              (click)="selectEntite(entite)">
                            <div class="draggable joueur numEcriture" *ngIf="entite.type==1">
                                <div [style.background-color]="isEntiteSelect(entite) ? 'red' : ''">
                                    {{ entite.numero }}
                                </div>
                            </div>
                            <div class="draggable gardien numEcriture" *ngIf="entite.type==2">
                                <div [style.background-color]="isEntiteSelect(entite) ? 'red' : ''">
                                    {{ entite.numero }}
                                </div>
                            </div>
                            <div class="draggable ballon numEcriture" *ngIf="entite.type==0"
                                 style="background-image: url('./assets/ballon.png'); background-size: 100% 100%; background-repeat: no-repeat;">
                                <div [style.background-color]="isEntiteSelect(entite) ? 'red' : ''">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            <br>
            
        </td>
    </tr>
</table>



<jw-modal id="{{_addScenarioModalName}}" >
    <p class="verif">Êtes-vous sûr de vouloir ajouter ce scénario ?</p>
    <nav class="menu">
        <ul>
            <li class="boutton" style="width: 50%"><a  (click)="addScenario(_addScenarioModalName)">oui</a></li>
            <li class="boutton" style="width: 50%"><a  (click)="resetData(_addScenarioModalName);">non</a></li>
        </ul>
    </nav>
</jw-modal>