<h1 class="presentation">Ajout d'un Scenario</h1>

<table class="tableau">
    <tr>
        <td class=" colonne" > <!-- parametre  -->
            <div class="titre">
                nom:
                <input type="text" [(ngModel)]="_newScenario.nom"/>
            </div><br>
            <div class="titre">
                mode_scene:
                <input type="checkbox" id="scene" class="hidden-checkbox" (click)="updateModeScenario('scene')">
                <label for="scene" class="round-button">Scene</label>

                <input type="checkbox" id="action" class="hidden-checkbox" (click)="updateModeScenario('action')">
                <label for="action" class="round-button">Action</label>
            </div><br>
            <div class="titre">
                nombre de joueur: <input type="text" [(ngModel)]="_newScenario.joueur_nb"/><br>
            </div><br>

            <div class="titre">
                couleur du terrain: <input type="text" [(ngModel)]="_newScenario.terrain_couleur"/><br>
            </div><br>

            <div class="titre">
                taille du terrain:
                <input type="checkbox" id="moyen" class="hidden-checkbox" (click)="updateterrainScenario('moyen')">
                <label for="moyen" class="round-button">Moyen</label>

                <input type="checkbox" id="grand" class="hidden-checkbox" (click)="updateterrainScenario('grand')">
                <label for="grand" class="round-button">Grand</label>
            </div><br>

            <div class="titre">
                <input type="checkbox" id="_useT" class="hidden-checkbox" (click)="updateUseZone('true')">
                <label for="_useT" class="round-button">utiliser les zone</label>
            </div><br>

            <div class="titre">
                <input type="checkbox" id="AZone" class="hidden-checkbox" (click)="updateAfficheZone('true')">
                <label for="AZone" class="round-button">Afficher les zones du terrain</label>
            </div><br>

            <div class="titre">
                Nombre de zone:
                <input type="text" [(ngModel)]="_newScenario.zone_nb_zone"/><br>
            </div><br>
            <div class="titre">
                Nombre de couloir:
                <input type="text" [(ngModel)]="_newScenario.zone_nb_couloir"/><br>
            </div><br>


            <nav class="menu">
                <ul>
                    <li class="boutton" ><a (click)="openModal(_addScenarioModalName)">valider</a></li>
                </ul>
            </nav>
        </td>


        <td class="colonne2" ><!-- terrain -->
            <table class="tableau_terrain">
                <div class="mode">Ajout des entités</div>
                <tr>
                    <td class="barreOutils">
                        <div class="Ecriture">retour</div>
                    </td>
                    <td class="barreOutils">
                        <div class="Ecriture">joueur :</div>
                    </td>
                    <td class="barreOutils">
                        <div id="deplacableObject" class="draggable joueur"></div>
                    </td>
                    <td class="barreOutils">
                        <div class="Ecriture">ballon :</div>
                    </td>
                    <td class="barreOutils">
                        <div id="ballondeplacableObject" class="draggable ballon"></div>
                    </td>
                    <td class="barreOutils">
                        <div class="Ecriture">fin</div>
                    </td>
                    <br><br><br><br><br>
                </tr></table><br>
            <table  class="tableau_terrain">
                <tr  *ngFor="let couloir of nb_couloir(lastCouloir); let odd = odd" class="couloir">
                    <td  *ngFor="let zone of nb_couloir(lastZone)" class="zone" (click)="addDeplacement($event)">
                        <div  *ngFor="let entite of _entiteList" class="draggable"
                             [style.left.%]="entite.y" [style.top.%]="entite.x"
                              (click)="selectEntite(entite)">
                            <div class=" joueur numEcriture" *ngIf="entite.type==1">
                                <div [style.background-color]="isEntiteSelect(entite) ? 'red' : ''">
                                    {{ entite.numero }}
                                </div>
                            </div>
                            <div class=" ballon numEcriture" *ngIf="entite.type==0">
                                <div [style.background-color]="isEntiteSelect(entite) ? 'red' : ''">
                                    {{ entite.numero }}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table><br>
            <table>
                <tr>
                    <button  (click)="addJoueur()" class="boutton">ajouter joueur</button>
                    <button  (click)="addBallon()" class="boutton">ajouter ballon</button>
                    <button  (click)="passEntite()" class="boutton">fin placement</button>
                </tr>
            </table>
        </td>
    </tr>
</table>



<jw-modal id="{{_addScenarioModalName}}" >
    <p class="verif">Êtes-vous sûr de vouloir ajouter ce scénario ?</p>
    <nav class="menu">
        <ul>
            <li class="boutton" style="width: 50%"><a  (click)="addScenario(_addScenarioModalName)">oui</a></li>
            <li class="boutton" style="width: 50%"><a  (click)="resetData(_addScenarioModalName);">non</a></li>
        </ul>
    </nav>
</jw-modal>