<header class="fond">
    <!-- menu -->
    <nav class="menu">
        <h1>Beta Foot</h1>
        <ul>
            <li class="boutton">
                <a routerLink="/creation">Creation</a>
            </li>

            <li class="boutton">
                <a routerLink="/home">Tests</a>
            </li>
            <li class="boutton">
                <a routerLink="/serie">Series</a>
            </li>
            <li class="boutton">
                <a routerLink="/resultat">Resultats</a>
            </li>
        </ul>
    </nav>
</header>


