nav.menu ul  .boutton{
    display: inline-block;
    width: 20%;
}
nav.menu ul li.boutton a{
    color :Azure;
    background-color: green;
    text-decoration: none;
    text-align:center ;
    display: flex;
    font-size:30px;
    justify-content: center;
    border: 1px solid white;
}
nav.menu ul li.boutton:hover a{
    color: green	;
    background-color: Azure;
    transition: 0.5s all;
}

.fond {
    background: limegreen;
    text-align: center;
    font-size: 25px;
    color: white;
    display: inline-block;
    width: 20%;
}
nav.menu ul li.boutton a.active {
    color: green;
    background-color: Azure;
}


