<header class="fond">
    Beta Foot
    <!-- menu -->
    <nav class="menu">
        <ul>
            <li class="boutton">
                <a routerLink="/creation">Creation</a>
            </li>

            <li class="boutton">
                <a routerLink="/home">Tests</a>
            </li>
            <li class="boutton">
                <a >Series</a>
            </li>
            <li class="boutton">
                <a routerLink="/resultat">Resultats</a>
            </li>
        </ul>
    </nav>
</header>


