<header>
    <!-- menu -->
    <nav class="menu">
        <ul>
            <li class="boutton">
                <a routerLink="/creation">Scenario</a>
            </li>

            <li class="boutton">
                <a routerLink="/home">Experience</a>
            </li>

            <li class="fond">
                <a >Beta-Foot</a>
            </li>

            <li class="boutton">
                <a routerLink="/serie">Series</a>
            </li>

            <li class="boutton">
                <a routerLink="/resultat">Resultats</a>
            </li>
        </ul>
    </nav>
</header>


